:root {
  --shadow-color: rgb(151, 149, 149);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
}

.home-link {
  position: absolute;
  top: 2rem;
  left: 2rem;
  background-color: white;
  color: black;
  padding: 1rem;
  box-shadow: 0 0 15px var(--shadow-color);
  text-decoration: none;
  border-radius: 2rem;
}
.home-link:hover {
  box-shadow: 0 0 25px var(--shadow-color);
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
}
.home-link:visited {
  color: black;
}

section {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.spinner {
  width: 150px;
  height: 0.8rem;
  border-radius: 1rem;
  background-color: red;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: loading-spinner 3s linear infinite;
}

@keyframes loading-spinner {
  from {
    transform: rotate(0deg); /* Start */
  }
  to {
    transform: rotate(360deg); /* End */
  }
}

/* Testing another type of loader */
/* Loading area */
.container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative; /* Referens for the small circles move */
}

/* It is this wrapper that spins. The small circle is attached to it so that it looks like it is the one that is spinning */
.loading-wrapper {
  width: 100%; /* Important! Need to be the same siza as the big circle*/
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: loading-circle 4s linear infinite; /* Animation for loading-wrappern */
}

.small-circle {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0; /* Top of loading-wrappern */
  left: 50%; /* Center in loading-wrappern */
  transform: translate(-55%, 0);
}

.loading-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid red;
  border-bottom-width: 1px;
  border-right-width: 0;
  animation: loading-circle 4s linear infinite;
}

@keyframes loading-circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
