/*CSS RESET*/
/* remove default spacing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Remove list styles on ul*/
ul[role="list"] {
  list-style: none;
}

/*CSS VARIABLES*/
:root {
  --primary-bg-color: #eeeeee;
  --secondary-bg-color: #222222;
  --text-color-light: #ffffff;
  --text-color-dark: #000000;
  --text-color-darkgrey: #606060;
  --text-color-lightgrey: #9d9d9d;
}

body {
  background-color: var(--primary-bg-color);
  position: relative;
  display: flex;
  min-height: 100vh;
}

nav {
  display: none;
  padding-top: 4.5rem;
  width: 20vw;
  background-color: var(--secondary-bg-color);
}

nav.open {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

a.toggle {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50px;
  background-color: red;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
}

.text-box {
  position: absolute;
  left: 30rem;
  display: flex;
  flex-direction: column;
}

/*TYPOGRAFI*/
h1 {
  color: var(--text-color-dark);
}

h2 {
  color: var(--text-color-darkgrey);
}

h3 {
  color: var(--text-color-light);
}

aside {
  color: var(--text-color-lightgrey);
}

.desc {
  color: var(--text-color-darkgrey);
}

.nav-link {
  display: flex;
}
