:root {
  --shadow-color: rgb(151, 149, 149);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.home-link {
  position: absolute;
  top: 2rem;
  left: 2rem;
  background-color: white;
  color: black;
  padding: 1rem;
  box-shadow: 0 0 15px var(--shadow-color);
  text-decoration: none;
  border-radius: 2rem;
}
.home-link:hover {
  box-shadow: 0 0 25px var(--shadow-color);
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
}
.home-link:visited {
  color: black;
}

.hover-btn {
  background: #2a9fbc;
  border: 2px solid #98dff0;
  border-radius: 2rem;
  width: 10rem;
  height: 3rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.hover-btn:hover {
  background: #98dff0;
  color: darkblue;
  width: 11rem;
  height: 4rem;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  text-decoration: underline;
}
